#julien_badge, #julien_badge span {
    display: block;
    width: 140px;
    height: 128px; 
}

#julien_badge {
  position: absolute;
  top: 30px;
  right: 26px;

  &:hover {
    border-bottom: none;
  }

  span {
    background: #909396 url("/assets/xiongmao.png") no-repeat center center;
    text-indent: -9999px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
  }
}