<section class="home">
    <h2>Hello</h2>
    <p>I'm a software engineer living in Paris. I am currently working on <a href='https://www.apple.com/ios/maps' rel='external nofollow'>Apple Maps</a> and I spend most of my days writing Objective-C code. In my free time, I like to <a href='{{github}}' rel='external nofollow'>build stuff</a> and <a href='{{flickr}}' rel='external nofollow'>take pictures</a>. <a href='{{twitter}}t' rel='external nofollow'>Get in touch</a>.</p>

    <h2>Apps</h2>
    <p>I started developing for iOS back in 2010 while I was still at university. Here are some apps I've worked on. I am no longer involved in the development of the first 6 as those belong to my previous employers.</p>
    <ul class="apps">
        {{#apps}}
        <li>
            <a href="{{url}}" title="{{title}}" rel="external nofollow">
                <img src="{{thumbnail}}", alt="{{title}}"/>
                <span>{{title}}</span>
            </a>
        </li>
        {{/apps}}
    </ul>

    <h2>Open Source</h2>
    <p>I'm always hacking on random stuff. Here are some hightlights:</p>
    <ul class="list">
        {{#contributions}}
        <li>
            <a href="{{url}}" rel="external nofollow">{{title}}</a> &mdash; {{description}}
        </li>
        {{/contributions}}
    </ul>

    {{>site/templates/flickr.html }}
</section>