!!! XML
!!!
%html
  %head
    %meta{ :charset => "utf8" }
    %title Julien Grimault
    %link{ :href =>"http://fonts.googleapis.com/css?family=Kreon:300,700", :rel =>"stylesheet", :type =>"text/css" }
    %link{ :href => "/assets/application.css", :rel => "stylesheet"}
    %link{ :rel =>"author", :type =>"text/plain", :href =>"human.txt" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}

  %body
    #header-image
      .inner
        %img{ :src => '/assets/bretagne-3.jpg', :onload => "document.getElementById('header-image').className += 'show'" }
    %a#julien_badge{ :href => '/'  }
      %span Julien

    #content
      %header
        %h1
          %a{ :href => "/", :rel => 'home' } Julien Grimault

        %p
          Technology, design & good beer.

        %p
          French software engineer in Paris.

      = yield

      %footer
        %p
          © #{ Time.now.year }
          %a{ :href => "/", :rel => "home" } Julien Grimault

    %script{ :src => "/assets/application.js" }